<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1>MIS COCHES</h1>
        <div id="app">
          <input placeholder="marca" v-model='coches.marca'>
            <input placeholder="color" v-model='coches.color'>
             <input placeholder="cantidad" v-model.number='coches.cantidad'>
          <button v-on:click="agregar">agrege</button>
            <p>{{ message }}</p>
             
             
            <button v-on:click="reverseMessage">Reverse Message</button>
            
 <ul>
     <li  v-for="item in datos" :key="item.id">
     {{item.marca}} {{item.color}} {{item.cantidad}}
      <button v-on:click="item.cantidad++">+</button>
     <li>
 </ul>

  
  <p>TOTAL = {{totalcoches }}</p>
        
      </div>  
        <script src="index.js"></script>
    </body>
</html>